NEXT_PUBLIC_SUPABASE_URL=https://jkprxdjrpnfbfxzryhtq.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_c4JpbBoCgtcJ8q3rqiuc7Q_heLb1GRw
SUPABASE_SECRET_KEY=

NEXT_PUBLIC_APP_URL=https://chromachat.syntax-xxx.is-a.dev
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
TWITCH_EVENTSUB_SECRET=
