NEXT_PUBLIC_SUPABASE_URL=https://jkprxdjrpnfbfxzryhtq.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_c4JpbBoCgtcJ8q3rqiuc7Q_heLb1GRw
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
TWITCH_EVENTSUB_SECRET=
NEXT_PUBLIC_APP_URL=http://localhost:3000
